@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --p-color-event: #7210EF;
    --p-color-event-dense: #A564F9;
  }

  .light {
    --p-color-event: #B073FF;
    --p-color-event-dense: #CDA7FE;
  }
}
